.background-gif {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../assets/vhs_bluescreen.gif");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 6vw 12vw;

  font-family: 'VCR OSD MONO', serif;

  h3 {
    margin-bottom: 0;
  }
}